body{
    margin: 0;
    padding: 0;
    background-color:  rgba(130, 233, 233, 0.518);
}

header{
    background-color: rgba(130, 233, 233, 0.518);
    height: 70px;
}

.heading {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.pfp{
    padding-top: 5px;
    padding-left: 5px;  
    border-radius: 100%;
    width: 60px;
}

.site_welcome{
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap; 
    text-align: center;
}

.button-container{
    order: 4;
}

.hyperlink{
    li{
        list-style-type: none;
    }
    
    ul{
        padding: 0;
        margin: 0;
    }
    img{
        width: 50%;
    }
    background-color:rgba(144, 231, 231, 0.518);
    border-radius: 20px;
    align-items: center;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.all_table{
    margin-bottom: 20px;
    background-color:rgba(144, 231, 231, 0.518);
    border-radius: 20px;
    text-align: center;
    table{
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
    }
}

.all_form{
    background-color:rgba(144, 231, 231, 0.518);
    border-radius: 20px;
    text-align: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

footer{
    display: flex; 
    align-items: center; 
    background-color: rgba(130, 233, 233, 0.518);
    height: 70px;
}












@media (min-device-width: 576px){
    .button-container {
        position: absolute; /* Используем фиксированное позиционирование для размещения в углу */
        top: 10px;         /* Расстояние от верхнего края */
        right: 10px;       /* Расстояние от правого края */
        z-index: 1000;     /* Убедитесь, что кнопки находятся сверху других элементов */
    }

    header{
        margin-bottom: 30px;
        background-color: rgba(130, 233, 233, 0.518);
        height: 70px;
        order: 0;
    }
    
    .flex-container1{
        text-align: center;
        display: flex;
        flex-direction: row; 
    }
    
    .pfp{
        position: absolute;
        margin-top: -5px;
        margin-left: 10px;
        border-radius: 100%;
        width: 60px;
    }
    
    .site_welcome{
        position: relative;
        margin: auto;
        text-align: center;
        font-size: 15px;
        font-family: "Lucida Console", monotype;
    }
    
    nav{
        background-color: rgba(130, 233, 233, 0.518);
        order: -1;
        height: 70px;
    }

    .navigation_button_text{
        font-size: 15px;
        font-family: "Lucida Console", monotype; 
    }

    .navigation ul{
        padding-right: 12px;
    }
    
    .navigation li{
        border-radius: 10%;
        margin-right: 20px;
        width: 100%;
        margin-left: -10px;
        list-style-type: none;
        background-color: rgba(48, 206, 206, 0.518);
    }
    
    .navigation ul li a {
        display: block;
        color: #000;
        text-decoration: none;
    }
    
    .hyperlink_main-text{
        margin-top:25px;
        text-align: center;
        padding-left: 15px;
        font-size: 15px;
        font-family: "Lucida Console", monotype; 
    }
    
    .hyperlink img{
        width: 300px;
    }

    .hyperlink{
        text-align: center;
        font-size: 13px;
        font-family: "Lucida Console", monotype; 
    }
    
    table{
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
    }
    
    .name_table{
        margin-top: 25px;
        font-size: 15px;
        font-family: "Lucida Console", monotype; 
        text-align: center;
    }
    
    .form_name{
        margin-top: 15px;
        text-align: center;
        font-family: "Lucida Console", monotype; 
    }
    
    form label div{
        margin-top: 15px;
    }
    
    .all_form{
        text-align: center;
        font-size: 15px;
        font-family: "Lucida Console", monotype; 
        border-radius: 10%;
        background-color:rgba(130, 233, 233, 0.518);
        padding-top: 15px;
        margin-bottom: 40px;
    }
    
    form{
        padding-bottom: 10px;
    }
    
    .marker{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .lang_text{
        font-size: 15px;
        margin-top: 15px;
        text-align: center;
        font-family: "Lucida Console", monotype; 
    }
    
    .accept{
        margin-bottom: 25px;
    }
    
    footer{
        background-color: rgba(130, 233, 233, 0.518);
        height: 70px;
        order: 3;
    }
    
    .text_footer{
        font-size: 20px;
        padding-top: 25px;
        font-family: "Lucida Console", monotype; 
    }
    
    .change_tabl{
        margin-top: 20px;
        margin-bottom: 40px;
        border-radius: 10%;
        background-color:rgba(130, 233, 233, 0.518);
        order: 1;
        font-size: 12px;
        font-family: "Lucida Console", monotype; 
    }
    
    .change_form{
        order: 2;
    }
    
    .change_hyperlink{
        margin-bottom: 40px;
        border-radius: 5%;
        background-color:rgba(130, 233, 233, 0.518);
        order: 0
    }

    .block_chang_hyp{
        width: 85%;
        margin: auto;
        margin-bottom: 30px;
    }

    .block_chang_table{
        width: 85%;
        margin: auto;
        margin-bottom: 30px;
    }

    .block_chang_form{
        width: 85%;
        margin: auto;
        margin-bottom: 30px;
    }

}

@media (min-device-width: 768px){
    header{
        margin-bottom: 30px;
        background-color: rgba(130, 233, 233, 0.518);
        height: 70px;
        order: 0;
    }

    .flex-container1{
        text-align: center;
        display: flex;
        flex-direction: row; 
    }
    
    .pfp{
        position: absolute;
        margin-top: -5px;
        margin-left: 10px;
        border-radius: 100%;
        width: 60px;
    }
    
    .site_welcome{
        position: relative;
        margin: auto;
        text-align: center;
        font-size: 15px;
        font-family: "Lucida Console", monotype;
    }
    
    nav{
        background-color: rgba(130, 233, 233, 0.518);
        order: -1;
        height: 70px;
    }

    .navigation_button_text{
        font-size: 15px;
        font-family: "Lucida Console", monotype; 
    }

    .navigation ul{
        padding-right: 14px;
    }
    
    .navigation li{
        border-radius: 10%;
        margin-right: 20px;
        width: 100%;
        margin-left: -10px;
        list-style-type: none;
        background-color: rgba(48, 206, 206, 0.518);
    }
    
    .navigation ul li a {
        display: block;
        color: #000;
        text-decoration: none;
    }
    
    .hyperlink_main-text{
        margin-top:25px;
        text-align: center;
        padding-left: 15px;
        font-size: 15px;
        font-family: "Lucida Console", monotype; 
    }
    
    .hyperlink img{
        width: 300px;
    }

    .hyperlink{
        text-align: center;
        font-size: 13px;
        font-family: "Lucida Console", monotype; 
    }
    
    table{
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
    }
    
    .name_table{
        margin-top: 25px;
        font-size: 15px;
        font-family: "Lucida Console", monotype; 
        text-align: center;
    }
    
    .form_name{
        margin-top: 15px;
        text-align: center;
        font-family: "Lucida Console", monotype; 
    }
    
    form label div{
        margin-top: 15px;
    }
    
    .all_form{
        text-align: center;
        font-size: 15px;
        font-family: "Lucida Console", monotype; 
        border-radius: 10%;
        background-color:rgba(130, 233, 233, 0.518);
        padding-top: 15px;
        margin-bottom: 40px;
    }
    
    form{
        padding-bottom: 10px;
    }
    
    .marker{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .lang_text{
        font-size: 15px;
        margin-top: 15px;
        text-align: center;
        font-family: "Lucida Console", monotype; 
    }
    
    .accept{
        margin-bottom: 25px;
    }
    
    footer{
        background-color: rgba(130, 233, 233, 0.518);
        height: 70px;
        order: 3;
    }
    
    .text_footer{
        font-size: 20px;
        padding-top: 25px;
        font-family: "Lucida Console", monotype; 
    }
    
    .change_tabl{
        margin-top: 20px;
        margin-bottom: 40px;
        border-radius: 10%;
        background-color:rgba(130, 233, 233, 0.518);
        order: 1;
        font-size: 12px;
        font-family: "Lucida Console", monotype; 
    }
    
    .change_form{
        order: 2;
    }
    
    .change_hyperlink{
        margin-bottom: 40px;
        border-radius: 5%;
        background-color:rgba(130, 233, 233, 0.518);
        order: 0
    }

    .block_chang_hyp{
        width: 85%;
        margin: auto;
        margin-bottom: 30px;
    }

    .block_chang_table{
        width: 85%;
        margin: auto;
        margin-bottom: 30px;
    }

    .block_chang_form{
        width: 85%;
        margin: auto;
        margin-bottom: 30px;
    }
}
    
@media (min-device-width: 992px){
    header{
        margin-bottom: 30px;
        background-color: rgba(130, 233, 233, 0.518);
        height: 70px;
        order: 0;
    }

    .flex-container1{
        text-align: center;
        display: flex;
        flex-direction: row; 
    }
    
    .pfp{
        position: absolute;
        margin-top: -5px;
        margin-left: 10px;
        border-radius: 100%;
        width: 60px;
    }
    
    .site_welcome{
        position: relative;
        margin: auto;
        text-align: center;
        font-size: 15px;
        font-family: "Lucida Console", monotype;
    }
    
    nav{
        background-color: rgba(130, 233, 233, 0.518);
        order: -1;
        height: 70px;
    }

    .navigation_button_text{
        font-size: 15px;
        font-family: "Lucida Console", monotype; 
    }

    .navigation ul{
        padding-right: 14px;
    }
    
    .navigation li{
        border-radius: 10%;
        margin-right: 20px;
        width: 100%;
        margin-left: -10px;
        list-style-type: none;
        background-color: rgba(48, 206, 206, 0.518);
    }
    
    .navigation ul li a {
        display: block;
        color: #000;
        text-decoration: none;
    }
    
    .hyperlink_main-text{
        margin-top:25px;
        text-align: center;
        padding-left: 15px;
        font-size: 15px;
        font-family: "Lucida Console", monotype; 
    }
    
    .hyperlink img{
        width: 300px;
    }

    .hyperlink{
        text-align: center;
        font-size: 13px;
        font-family: "Lucida Console", monotype; 
    }
    
    table{
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
    }
    
    .name_table{
        margin-top: 25px;
        font-size: 15px;
        font-family: "Lucida Console", monotype; 
        text-align: center;
    }
    
    .form_name{
        margin-top: 15px;
        text-align: center;
        font-family: "Lucida Console", monotype; 
    }
    
    form label div{
        margin-top: 15px;
    }
    
    .all_form{
        text-align: center;
        font-size: 15px;
        font-family: "Lucida Console", monotype; 
        border-radius: 10%;
        background-color:rgba(130, 233, 233, 0.518);
        padding-top: 15px;
        margin-bottom: 40px;
    }
    
    form{
        padding-bottom: 10px;
    }
    
    .marker{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .lang_text{
        font-size: 15px;
        margin-top: 15px;
        text-align: center;
        font-family: "Lucida Console", monotype; 
    }
    
    .accept{
        margin-bottom: 25px;
    }
    
    footer{
        background-color: rgba(130, 233, 233, 0.518);
        height: 70px;
        order: 3;
    }
    
    .text_footer{
        font-size: 20px;
        padding-top: 25px;
        font-family: "Lucida Console", monotype; 
    }
    
    .change_tabl{
        margin-top: 20px;
        margin-bottom: 40px;
        border-radius: 10%;
        background-color:rgba(130, 233, 233, 0.518);
        order: 1;
        font-size: 12px;
        font-family: "Lucida Console", monotype; 
    }
    
    .change_form{
        order: 2;
    }
    
    .change_hyperlink{
        margin-bottom: 40px;
        border-radius: 5%;
        background-color:rgba(130, 233, 233, 0.518);
        order: 0
    }

    .block_chang_hyp{
        width: 85%;
        margin: auto;
        margin-bottom: 30px;
    }

    .block_chang_table{
        width: 85%;
        margin: auto;
        margin-bottom: 30px;
    }

    .block_chang_form{
        width: 85%;
        margin: auto;
        margin-bottom: 30px;
    }
}

@media (min-device-width: 1200px){
    header{
        margin-bottom: 30px;
        background-color: rgba(130, 233, 233, 0.518);
        height: 70px;
        order: 0;
    }

    .flex-container1{
        text-align: center;
        display: flex;
        flex-direction: row; 
    }
    
    .pfp{
        position: absolute;
        margin-left: 10px;
        border-radius: 100%;
        width: 60px;
    }
    
    .site_welcome{
        position: relative;
        margin: auto;
        text-align: center;
        font-size: 15px;
        font-family: "Lucida Console", monotype;
    }
    
    nav{
        background-color: rgba(130, 233, 233, 0.518);
        order: -1;
        height: 70px;
    }

    .navigation_button_text{
        font-size: 15px;
        font-family: "Lucida Console", monotype; 
    }

    .navigation ul{
        padding-right: 14px;
    }
    
    .navigation li{
        border-radius: 10%;
        margin-right: 20px;
        width: 100%;
        margin-left: -10px;
        list-style-type: none;
        background-color: rgba(48, 206, 206, 0.518);
    }
    
    .navigation ul li a {
        display: block;
        color: #000;
        text-decoration: none;
    }
    
    .hyperlink_main-text{
        margin-top:25px;
        text-align: center;
        padding-left: 15px;
        font-size: 15px;
        font-family: "Lucida Console", monotype; 
    }
    
    .hyperlink img{
        width: 300px;
    }

    .hyperlink{
        text-align: center;
        font-size: 13px;
        font-family: "Lucida Console", monotype; 
    }
    
    table{
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
    }
    
    .name_table{
        margin-top: 25px;
        font-size: 15px;
        font-family: "Lucida Console", monotype; 
        text-align: center;
    }
    
    .form_name{
        margin-top: 15px;
        text-align: center;
        font-family: "Lucida Console", monotype; 
    }
    
    form label div{
        margin-top: 15px;
    }
    
    .all_form{
        text-align: center;
        font-size: 15px;
        font-family: "Lucida Console", monotype; 
        border-radius: 10%;
        background-color:rgba(130, 233, 233, 0.518);
        padding-top: 15px;
        margin-bottom: 40px;
    }
    
    form{
        padding-bottom: 10px;
    }
    
    .marker{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .lang_text{
        font-size: 15px;
        margin-top: 15px;
        text-align: center;
        font-family: "Lucida Console", monotype; 
    }
    
    .accept{
        margin-bottom: 25px;
    }
    
    footer{
        background-color: rgba(130, 233, 233, 0.518);
        height: 70px;
        order: 3;
    }
    
    .text_footer{
        font-size: 20px;
        padding-top: 25px;
        font-family: "Lucida Console", monotype; 
    }
    
    .change_tabl{
        margin-top: 20px;
        margin-bottom: 40px;
        border-radius: 10%;
        background-color:rgba(130, 233, 233, 0.518);
        order: 1;
        font-size: 12px;
        font-family: "Lucida Console", monotype; 
    }
    
    .change_form{
        order: 2;
    }
    
    .change_hyperlink{
        margin-bottom: 40px;
        border-radius: 5%;
        background-color:rgba(130, 233, 233, 0.518);
        order: 0
    }

    .block_chang_hyp{
        width: 85%;
        margin: auto;
        margin-bottom: 30px;
    }

    .block_chang_table{
        width: 85%;
        margin: auto;
        margin-bottom: 30px;
    }

    .block_chang_form{
        width: 85%;
        margin: auto;
        margin-bottom: 30px;
    }
}